.generic_btn button{
    margin: 5px 0;
    padding: 7px;
    min-width: 70px;
    font-weight: 500;
    border-radius: 4px;
    background: var(--main-danger);
    border: none;
    color: var(--main-white);
    cursor: pointer;
    width: min-content;
}

.generic_btn.green button{
    background: var(--main-green);
}

.generic_btn button:hover{
    background: var(--main-white);
    color: var(--main-danger);
    transition: .2s;
}

.generic_btn.green button:hover{
    background: var(--main-white);
    color: var(--main-gray);
}

.button_area{
    display: flex;
}